@model IEnumerable<FinanceCore.DBModels.tblCL_PaymentCondition>
@*@using  FinanceCore.Globalization;*@
@using FinanceCore.DBModels;
@using Global.Globalization;
@using Global.DBModels;
@using Global.Models;
@using Global.Services;
@*@model IEnumerable<FinanceCore.DBModels.CL_PaymentCondition>*@
@using NonFactors.Mvc.Grid;
@using Microsoft.AspNetCore.Mvc.Localization

@using Microsoft.Extensions.Localization;
@using Newtonsoft.Json;



@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "CL_PaymentCondition ..Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="card-body">
    <form asp-controller="CL_PaymentCondition"
          asp-action="IndexNumber"
          asp-route-returnurl="@ViewBag.ReturnUrl"
          asp-anti-forgery="false"
          id="FullForm"
          method="post">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="@Localizer["SearchByNumber"]" name="txtSearch" value="@ViewBag.filter">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>

                @if (await new syPageRolesVM().pageCanCreate(Context.Request.Path, Context.User.Identity.Name))
                {
                    <a class="btn btn-primary pull-right" id="btnCreate" asp-action="Create">
                        @Localizer["CreateBtn"]
                        <span class="fas fa-plus"></span>

                    </a>

                }
                <div class="widget-buttons pull-left">
                    <span id="GridConfigure" class="fa fa-cog"></span>
                </div>
            </div>
        </div>

        @if (Model != null)
        {
            <div class="widget-content">

                @(Html
                    .Grid(Model)
                    .Build(columns =>
                    {

                        //columns.Add(model => Html.CheckBox("Check_" + model.ID)).Titled(Html.CheckBox("CheckAll"));
                        columns.Add(model => model.PaymentCode).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["PaymentCode"]).Formatted("{0:N0}");
                        columns.Add(model => model.PaymentNameA).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["PaymentNameA"]);
                        columns.Add(model => model.PaymentNameE).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["PaymentNameE"]);
                        columns.Add(model => model.DealWBank).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["DealWBank"]).Formatted("{0:N0}");
                        columns.Add(model => model.AccountName).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["AccountName"]);
                        columns.Add(model => model.BankName).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["BankName"]);
                        columns.Add(model => model.BranchNo).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["BranchNo"]);
                        columns.Add(model => model.AccountNo).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["AccountNo"]);
                        columns.Add(model => model.SwiftCode).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["SwiftCode"]);
                        columns.Add(model => model.IBAN).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["IBAN"]);
                        columns.Add(model => model.Status).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["Status"]).Formatted("{0:N0}");
                        columns.Add(model => model.TimeStamp).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["TimeStamp"]).Formatted("{0:dd/MM/yyyy}");

                        columns.Add(model => $"<a data-id='{model.PaymentCode}' href='/Client/CL_PaymentCondition/details/{model.PaymentCode}' id='{model.PaymentCode}' title='{@Localizer["DetailsButton"].Value}'> <span class='fa fa-list-alt fa-lg'> </span> </a>").Encoded(false).Css("action");
                        if (new syPageRolesVM().pageCanEdit(Context.Request.Path, Context.User.Identity.Name).Result)
                            columns.Add(model => $"<a data-id='{model.PaymentCode}' href='/Client/CL_PaymentCondition/edit/{model.PaymentCode}' id='{model.PaymentCode}' title='{@Localizer["EditButton"].Value}'> <span class='fas fa-edit fa-lg'> </span> </a>").Encoded(false).Css("action");
                        if (new syPageRolesVM().pageCanDelete(Context.Request.Path, Context.User.Identity.Name).Result)
                            columns.Add(model => $"<a data-id='{model.PaymentCode}' data-modal='' href='/Client/CL_PaymentCondition/delete/{model.PaymentCode}' id='{model.PaymentCode}' title='{@Localizer["DeleteButton"].Value}'> <span class='fa fa-trash  fa-lg'> </span> </a>").Encoded(false).Css("action");
                    })
                    .Empty(@Localizer["GridEmptyData"].Value)
                    //.Configure (CL_PaymentConditiongridConfig)
                    .Filterable()
                    .Sortable()
                    .Named("CL_PaymentConditiongrid")
                    .Id("CL_PaymentConditiongrid")
                    //.Using(GridProcessingMode.Manual)
                    .Pageable(pager =>
                    {
                        // pager.TotalRows = ViewBag.TotalRows;
                        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 25, "25" }, { 40, "40" } };
                        pager.ShowPageSizes = true;
                        pager.PagesToDisplay = 5;
                        pager.CurrentPage = 1;
                        pager.RowsPerPage = 25;
                    })
                    )
            </div>
        }
    </form>

</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts {
    <script>
    </script>
}
