@model IEnumerable<FinanceCore.DBModels.tblCL_PaymentCondition>
@*@using  FinanceCore.Globalization;*@
@using FinanceCore.DBModels;
@using Global.Globalization;
@using Global.DBModels;
@using Global.Models;
@using Global.Services;
@*@model IEnumerable<FinanceCore.DBModels.CL_PaymentCondition>*@
@using NonFactors.Mvc.Grid;
@using Microsoft.AspNetCore.Mvc.Localization

@using Microsoft.Extensions.Localization;
@using Newtonsoft.Json;



@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "CL_PaymentCondition ..Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
</head>
<style>
    .btn {
        background-color: #094766;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem
    }
</style>

<div class="card-body">
    <form asp-controller="CL_PaymentCondition"
          asp-action="Edit"
          asp-route-returnurl="@ViewBag.ReturnUrl"
          asp-anti-forgery="false"
          id="FullForm"
          method="post">
        <div class="container justfiy-content-center">
            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-2 g-1">
                <div class="col-12 col-sm-6 col-lg-6 px-5">
                <!--Searchstuffgohere-->
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" placeholder="@Localizer["Search"]" aria-label="Search" aria-describedby="search-addon">
                        <span class="input-group-text border-0" id="search-addon" type="button"><i class="fa-solid fa-search"></i></span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    @if (await new syPageRolesVM().pageCanCreate(Context.Request.Path, Context.User.Identity.Name))
                    {
                        <a class="btn mb-3" id="btnCreate" asp-action="Create">
                            @Localizer["CreateBtn"]
                            <span class="fas fa-plus mx-1"></span>

                        </a>

                    }
                </div>
                  @*   <div class="widget-buttons pull-left">
                        <span id="GridConfigure" class="fa fa-cog"></span>
                    </div> *@
            </div>
        </div>

    <div class="widget-content w-100 bg-white shadow">
            @(Html
                .Grid(Model)
                .Build(columns =>
                {

                    //columns.Add(model => Html.CheckBox("Check_" + model.ID)).Titled(Html.CheckBox("CheckAll"));
                    columns.Add(model => model.PaymentCode).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["PaymentCode"]).Formatted("{0:N0}");
                    columns.Add(model => model.PaymentNameA).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["PaymentNameA"]);
                    columns.Add(model => model.PaymentNameE).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["PaymentNameE"]);
                    columns.Add(model => model.DealWBank).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["DealWBank"]).Formatted("{0:N0}");
                    columns.Add(model => model.AccountName).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["AccountName"]);
                    columns.Add(model => model.BankName).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["BankName"]);
                    columns.Add(model => model.BranchNo).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["BranchNo"]);
                    columns.Add(model => model.AccountNo).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["AccountNo"]);
                    columns.Add(model => model.SwiftCode).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["SwiftCode"]);
                    columns.Add(model => model.IBAN).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["IBAN"]);
                    columns.Add(model => model.Status).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["Status"]).Formatted("{0:N0}");
                    columns.Add(model => model.TimeStamp).Filterable(GridFilterType.Multi).Sortable(GridSortOrder.Asc).Titled(@Localizer["TimeStamp"]).Formatted("{0:dd/MM/yyyy}");

                columns.Add(model => $"<a data-id='{model.PaymentCode}' href='/Clients/CL_PaymentCondition/details/{model.PaymentCode}' id='{model.PaymentCode}' title='{@Localizer["DetailsButton"].Value}'> <span class='fa fa-list-alt fa-lg' style='color:#094766;'> </span> </a>").Encoded(false).Css("action");
                    if (new syPageRolesVM().pageCanEdit(Context.Request.Path, Context.User.Identity.Name).Result)
                        columns.Add(model => $"<a data-id='{model.PaymentCode}' href='/Clients/CL_PaymentCondition/edit/{model.PaymentCode}' id='{model.PaymentCode}' title='{@Localizer["EditButton"].Value}'> <span class='fas fa-edit fa-lg' style='color:#094766;'> </span> </a>").Encoded(false).Css("action");
                    if (new syPageRolesVM().pageCanDelete(Context.Request.Path, Context.User.Identity.Name).Result)
                    columns.Add(model => $"<a data-id='{model.PaymentCode}' id='{model.PaymentCode}' title='{@Localizer["DeleteButton"].Value}' data-toggle='modal' data-target='#myModal' class='ModalClick'> <span class='fa fa-trash  fa-lg text-danger'> </span> </a>").Encoded(false).Css("action");
                })
                .Empty(@Localizer["GridEmptyData"].Value)
                //.Configure (CL_PaymentConditiongridConfig)
                .Filterable()
                .Sortable()
                .Named("CL_PaymentConditiongrid")
                .Id("CL_PaymentConditiongrid")
                //.Using(GridProcessingMode.Manual)
                .Pageable(pager =>
                {
                    // pager.TotalRows = ViewBag.TotalRows;
                    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 25, "25" }, { 40, "40" } };
                    pager.ShowPageSizes = true;
                    pager.PagesToDisplay = 5;
                    pager.CurrentPage = 1;
                    pager.RowsPerPage = 25;
                })
                )
        </div>
    </form>
</div>

<!-- modal placeholder-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Confirm Delete"]</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Localizer["Are you sure you want to delete GE_SubSystems "]@Model ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">@Localizer["Close"]</button>
                <button type="button" class="btn btn-danger">@Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
}
