@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;
@using System.Threading;
@using WTEG.Core.Tools;


@*@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet*@
@inject IViewLocalizer Localizer


@if (CultureHelper.IsRighToLeft())
{
    await Html.RenderPartialAsync("_CssPartialRTL");
}
else
{ await Html.RenderPartialAsync("_CssPartial"); }

@*@Html.Raw(JavaScriptSnippet.FullScript)*@

<div class="body-content">

    @*
        must be removed cause sub errors and inconevneinece
        <partial name="MvcLookup/_Dialog" />*@
    @*@await Component.InvokeAsync("PageAlert")*@

    @RenderBody()


</div>



@{ await Html.RenderPartialAsync("_JsPartial"); }


<script>
    //#region mvc lookup part and transaltion


       // if (typeof MvcLookupFilter === 'undefined' || MvcLookupFilter === null) {

      //      document.querySelectorAll(".mvc-lookup").forEach(element => new MvcLookup(element));
       // }
    @*MvcLookup.prototype.lang = {
        error: '@Localizer["Error"]',
        noData: '@Localizer["noData"]',
        select: '@Localizer["Select"] ({0})',
        search: '@Localizer["Search"]'
        };*@
        //#endregion

        //#region mvc grid intialize
        // when used if the paging is not owrking
       // if (typeof MvcGrid === 'undefined' || MvcGrid === null)
           document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
        //#endregion




        //#endregion
</script>


@RenderSection("Scripts", required: false)



