@model FinanceCore.DBModels.tblGE_Currencies
@*@using  FinanceCore.Globalization;*@
@using Global.Globalization;
@using Global.DBModels;
@using Global.Models;
@using FinanceCore.DBModels;

@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Global.Services;

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "GE_Currencies ..Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        background-color: #094766;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem
    }

    #nav-tab .nav-link {
        border-color: #094766;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
    }
</style>
<div class="row mx-5 my-auto">
    <!-- /Start Tabs -->
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="nav-home" aria-selected="true">@Localizer["BasicDetails"]</button>
            </div>
        </nav>
        <div class="tab-content mx-auto my-auto py-auto">

            <div class="active  tab-pane" id="details">
                <div class="box shadow mb-4">
                    <div class="form box-body py-3 px-3">
                        <div class="row justify-content-between d-flex">
                            <div ID="dvCurrencyCode" class="col-sm-6">
                                <div class="form-group has-feedback ">
                                    <label asp-for="CurrencyCode" class="control-label "></label>
                                    <input asp-for="CurrencyCode" asp-format="{0:N0}" class="form-control w-50" disabled="disabled" />
                                </div>
                            </div>
                            <div ID="dvCurrencyNameA" class="col-sm-6">
                                <div class="form-group has-feedback ">
                                    <label asp-for="CurrencyNameA" class="control-label "></label>
                                    <input asp-for="CurrencyNameA" class="form-control w-50" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between d-flex">
                            <div ID="dvCurrencyNameE" class="col-sm-6">
                                <div class="form-group has-feedback ">
                                    <label asp-for="CurrencyNameE" class="control-label "></label>
                                     <input asp-for="CurrencyNameE" class="form-control w-50" disabled="disabled" />
                                </div>
                            </div>
                            <div ID="dvAbbreviation" class="col-sm-6">
                                <div class="form-group has-feedback ">
                                    <label asp-for="Abbreviation" class="control-label "></label>
                                    <input asp-for="Abbreviation" class="form-control w-50" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between d-flex">
                            <div ID="dvExctangeRate" class="col-sm-6">
                                <div class="form-group has-feedback ">
                                    <label asp-for="ExctangeRate" class="control-label "></label>
                                    <input asp-for="ExctangeRate" asp-format="{0:N2}" class="form-control w-50" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 btns my-3">
                            <a asp-controller="GE_Currencies"
                               class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CurrencyCode" style=@(await new syPageRolesVM().pageCanEdit(Context.Request.Path.ToString().Substring(0, Context.Request.Path.ToString().LastIndexOf('/')), Context.User.Identity.Name) ? "display:run-in " : "display:none")>@Localizer["UpdateBtn"]<i class="far fa-save"></i></a>
                            <a asp-controller="GE_Currencies" class="btn btn-primary" asp-action="Index">@Localizer["BackBtn"] <i class="fas fa-angle-double-left"></i></a>
                            <a asp-controller="GE_Currencies" class="btn btn-primary" asp-action="PrintFormReport"
                               asp-route-id="@Model.CurrencyCode" asp-route-formAction="Details" data-modal='' id="btnPrintForm" style=@(await new syPageRolesVM().pageCanPrint(Context.Request.Path.ToString().Substring(0, Context.Request.Path.ToString().LastIndexOf('/')), Context.User.Identity.Name) ? "display:run-in " : "display:none")>@Localizer["PrintBtn"]<i class="fas fa-print"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }
