@model FinanceCore.DBModels.tblGE_SubSystems 
@using NonFactors.Mvc.Lookup
@using  Global.Globalization;
@using  Global.DBModels;
@using Global.Models;
@using Global.Services;
@using FinanceCore.DBModels;
@* @using WTEG.SqlLocalizer.DbStringLocalizer; *@
@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Global.Helpers

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "GE_SubSystems ..Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        background-color: #094766;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem
    }

    #nav-tab .nav-link {
        border-color: #094766;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
    }

    .form-group.required .control-label:after {
        content: "*";
        color: red;
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }
</style>

<div class="row mx-5 my-auto">
    <!-- /Start Tabs -->
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link shadow shadow-bottom-0 active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="nav-home" aria-selected="true">@Localizer["Basic Details"]</button>
            </div>
        </nav>
        <div class="tab-content mx-auto my-auto py-auto">
           <div class="active tab-pane" id="details">
                <!-- /End Tabs -->
                <form asp-controller="GE_SubSystems" 
                  asp-action="Create" 
                  asp-route-returnurl="@ViewBag.ReturnUrl" 
                  asp-anti-forgery="false"
                  id="FullForm" 
                  method="post" >
                    <div class="box shadow mb-4">
                        <div class="form box-body py-3 px-3">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="container">
                                 <div class="row row-cols-lg-2 justify-content align-items-center">
                                <div ID="dvID" class="col-sm-6" style=@(new AppSiteSettings().LoadFromConfiguration().ShowIDS? "display:run-in " : "display:none") >
                                    <div class="form-group has-feedback">
                                        <label asp-for="ID" class="control-label">@Localizer["ID"]</label>
                                        <input asp-for="ID" asp-format="{0:0}" class="form-control w-50" disabled="disabled" />
                                    </div>
                                </div>
                                <div ID="dvSubSystemName" class="col-sm-6">
                                    <div class="form-group has-feedback required">
                                        <label asp-for="SubSystemName" class="control-label">@Localizer["SubSystemName"]</label>
                                        <input asp-for="SubSystemName" class="form-control w-50" autofocus/>
                                        <span asp-validation-for="SubSystemName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div ID="dvSubSystemArabicName" class="col-sm-6">
                                    <div class="form-group has-feedback required" >
                                        <label asp-for="SubSystemArabicName" class="control-label">@Localizer["SubSystemArabicName"]</label>
                                        <input asp-for="SubSystemArabicName" class="form-control w-50"/>
                                        <span asp-validation-for="SubSystemArabicName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div ID="dvSubSystemShortName" class="col-sm-6">
                                    <div class="form-group has-feedback required">
                                        <label asp-for="SubSystemShortName" class="control-label">@Localizer["SubSystemShortName"]</label>
                                        <input asp-for="SubSystemShortName" class ="form-control w-50"/>
                                        <span asp-validation-for="SubSystemShortName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div ID="dvIsActive" class="col-sm-6">
                                    <div class="form-group has-feedback required">
                                        <label asp-for="IsActive" class="control-label">@Localizer["IsActive"]</label>
                                        <input asp-for="IsActive" type ="checkbox"/>
                                        <span asp-validation-for="IsActive" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class=" form-group col-sm-12 btns my-3">
                                    <button class="btn mb-3" type="submit"> @Localizer["SaveBtn"] <i class="far fa-save"></i>  </button>
                                    <a asp-controller="GE_SubSystems" class="btn mb-3" asp-action="Index">@Localizer["BackBtn"] <i class="fas fa-angle-double-left"></i></a>
                                <!------print button go here---->
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>
@*<YYYYYYYYYYYYYYYY Details go here>*@
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<span id="progress" class="text-center" style="display: none;">
    <img src="~/images/ajax-loader.gif" alt="wait" />
    Wait..
</span>
@section Scripts {
 <script>
 </script>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
